main {
    display: flex;
    flex-wrap: nowrap;
    height: 91vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.my-board-component:hover {
    cursor: pointer;
}

.my-board-component-img {
    width: 67px;
}