#buckets-sidbar {
    width: 280px;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
}

#sidbar-hidden-span {
    width: 10px; 
    height: 50px; 
    background-color: #df4a16ff; 
    border-radius: 0 5px 5px 0; 
    position: absolute; 
    top: 50vh;
    left: 0;
    cursor: pointer;
    z-index: 2;
} 

#sidbar-hidden-span:active {
    background-color: rgba(223, 76, 22, 0.473);
}

#sidbar-risezer {
    width: 5px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    cursor: col-resize;
    position: absolute;
    right: 0;
    top: 0;
}

.bucket-link {
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.bucket-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bucket-link:hover {
    cursor: pointer;
}

.active-bucket{
    background-color: #df4a16ff !important
}